* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}
.container {
    max-width: 550px;
    padding: 0.9em;
    /* opacity: 0; */
    /* transition: opacity 0.7s; */
}
.container img {
    max-width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2em;
}
.container h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.container p {
    font-size: 1.1rem;
    margin-bottom: 1.3em;
}
.container .btn {
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s linear;
}
.container .btn:hover {
    background-color: burlywood;
}

/* video section  */
.trailer-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.7s;
}
.trailer-container video {
    position: relative;
    max-width: 900px;
    outline: none;
    border-radius: 0.4rem;
}
.trailer-container .close {
    color: white;
    position: absolute;
    top: -80px;
    right: -20px;
    transition: all 0.3s linear;
    font-size: 2rem;
}
.trailer-container .close:hover {
    transform: rotate(90deg);
}
.active {
    visibility: hidden;
    opacity: 0;
}
.none {
    visibility: hidden;
    /* opacity: 1; */
}

@media  (max-width: 650px) {
    .trailer-container video {
        max-width: 100%;
    }
}


